#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
 
}

.app-width-container {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding: .8rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--background);
}

.main-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 0;
}

.main-content::-webkit-scrollbar {
  display: none;
}

h1 {
  color: var(--text);
  margin-bottom: 1rem;
}

@media (min-width: 700px) {
  .app-width-container {
    flex: 1;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--background);
  }
}