.channel-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 2rem;
}

button {
    border: none;
}

.contact-btn {
    display: flex;
    align-items: center;
    width: 60%;
    gap: 10px;
    padding: .6rem 1rem .6rem 1rem;
    font-size: 1rem;
    color: var(--text);
    background-color: var(--header);
    border-right: var(--accent) 4px solid;
    border-bottom: var(--accent) 2px solid;
    box-shadow: var(--accent) 2px 2px;
    border-radius: 4px;
    cursor: pointer;
} 

.contact-btn:hover {
    background-color: var(--info);
    color: var(--accent);
}

.contact-btn-icon {
    width: 40px;
    height: 40px;
}