.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 2px;
    border: var(--accent) 4px solid;
}