.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;
}

.project {
    position: relative;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: var(--accent) 4px solid;
    display: block;
}

.project-text {
    position: absolute;
    display: inline-block;
    padding: 0.2rem 0.6rem 0.2rem 0.8rem;
    bottom: 2px;
    left: 0px;
    color: var(--textInv);
    background-color: var(--text);
    font-size: .9rem;
    font-weight: 400;
    pointer-events: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 1;
}

.project-text::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: -10px;
    width: 50px;
    height: 100%;
    background-color: var(--text);
    transform: skewX(22deg);
    transform-origin: left top;
    border-top-right-radius: 8px;
    box-shadow: -2px 0 0 var(--text);
}