:root {
  --topbar-top-padding: 1.2rem;
  --topbar-horizontal-padding: 1.25rem;
  --topbar-height: calc(var(--topbar-top-padding) * 5);
}

.top-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: var(--topbar-height);
    box-sizing: border-box;
    align-items: center;
    padding: var(--topbar-top-padding) var(--topbar-horizontal-padding);
    top: 0;
    z-index: 101;
}

.top-bar > .pill-nav-container {
    grid-column: 2;
}

.top-bar-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.topbar-desktop-only {
    display: flex;
    grid-column: 3;
    justify-self: end;
    z-index: 102;
}

.language-btn {
    justify-content: center;
    color: var(--text-navbar);
    background-color: var(--text);
    border: 1px solid var(--text);
    border-radius: 50%;
    height: 42px;
    aspect-ratio: 1;
    padding: 0.6rem;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 768px) {
    .topbar-desktop-only {
        display: none;
    }

    .top-bar {
        display: flex;
        justify-content: center;
        min-height: 0;
    }

    .language-btn {
        min-height: 42px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}